{{# partial "titulo" }}	
	<title>QueComemos</title>
{{/partial}}
		
{{# partial "contenido" }}	  
 <div class="jumbotron">
    <h1>UN ANTOJO. UNA RECETA.</h1>      
    <p>Consulta como hacer las recetas que más te gusten.</p>      
    <p align="right"><a href="/recetas" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Consultar</a></p>   
  </div>	

{{/partial}}
				
{{> layout.hbs }}