{{# partial "titulo" }}	
	<title>Que Comemos??</title>
{{/partial}}
		
{{# partial "contenido" }}	  
<div class="jumbotron">
  <h1>Que Comemos??</h1>
  <h2>Pagina Principal</h2>
</div>	

{{/partial}}
				
{{> layout.hbs }}