{{# partial "titulo" }}	
	<title>Que Comemos??</title>
{{/partial}}
		
{{# partial "contenido" }}	  
<div class="jumbotron">
   <div class="row">
   <div class="col-md-4">
   <img src="Que comemos favicon.png" class="img-circle" />
   </img>
   </div>
   
   <div class="col-md-8">
  <h1>Que Comemos??</h1>
  <h2>Pagina Principal</h2>
  </div>	
  
  </div>	
</div>	

{{/partial}}
				
{{> layout.hbs }}