<html>
  <head>
    {{# block "titulo" }}
    link rel="icon" type="image/png" href="favicon.ico" />
    {{/block}}
  </head>
  <body>

  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet"  href="main.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">QueComemos</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/recetas">Recetas</a></li>
        <li><a href="#">Consultas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Perfil </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container">
  {{# block "contenido" }}
  {{/block}}
  </div>
  
  <footer class="footer">
   <div class="container">
    <p class="text-center"><b><big> &copy; 2015 - Que Comemos?? </big>  </b></p>
   </div>
  </footer>
  
  </body>
</html>