<html>
  <head>
    {{# block "titulo" }}
    link rel="icon" type="image/png" href="favicon.ico" />
    {{/block}}
  </head>
  <body>

  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet"  href="main.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-inverse" role="navigation">
  <h4>
    <div class="container">
      <div class="navbar-header">
       <a class="navbar-brand"href="/">Que Comemos??</a>
      </div>
      <div>
      <ul class="nav navbar-nav">
      
          <li> <a href="/usuarios">Usuarios</a></li>
          <li><a href="/recetas">Recetas</a></li>
          <li><a href="/">Consultas</a></li>
          <li><a href="/perfil">Perfil</a></li>

        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        
        <li>
  		 <a href="/perfil">  
  		<span style="color:#FFFFFF" class="glyphicon glyphicon-user" aria-hidden="true"></span> Perfil 
  		</a>	
  		
  		</li>
		</ul>
		
      </div>
    </div>
    <h4>
  </nav>

  <div class="container">
  {{# block "contenido" }}
  {{/block}}
  </div>
  
  <footer class="footer">
   <div class="container">
    <p class="text-center">  &copy; 2015 - Que Comemos?? </p>
   </div>
  </footer>
  
  </body>
</html>