{{# partial "titulo" }}	
	<title>Recetas - QueComemos.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/recetas" >
<div class="container">
  <div class="row">
	<div class="col-md-offset-2 col-md-3">
	  <div class="input-group">
	  	  <label for="nombre">Nombre</label>
		  <input type="text" class="form-control" name="nombre">
	  </div>
	</div>
	
  </div>

  <div class="row">
  	<div class="col-md-offset-2 col-md-3">
		<label>Rango de Calorias</label>
		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Mínimo" name="cantMinCalorias">
		</div>
  	</div>
  </div>
  
  <div class="row">
  	<div class="col-md-offset-2 col-md-3">
  		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Máximo" name="cantMaxCalorias">
		</div>
 	</div>
  </div>
		
  <div class="row">
  	<div class="col-md-offset-2">
		<div class="form-group">
        	<div class=" col-xs-3 selectContainer">
        	    <label class="dificultad">Dificultad</label>
            	<select class="form-control" name="dificultad">
            	    <option value=""></option>
                	<option value="ALTA">ALTA</option>
                	<option value="MEDIA">MEDIA</option>
                	<option value="BAJA">BAJA</option>
            	</select>
        	</div>
    	</div>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-offset-2">
		<div class="form-group">
        	<div class="col-xs-3 selectContainer">
        	    <label class="temporada">Temporada</label>
            	<select class="form-control" name="temporada">
            	    <option value=""></option>
                	<option value="PRIMAVERA">Primavera</option>
                	<option value="VERANO">Verano</option>
                	<option value="OTOÑO">Otoño</option>
                	<option value="INVIERNO">Invierno</option>
                	<option value="TODOELAÑO">Todo el Año</option>
            	</select>
        	</div>
    	</div>
    </div>
    
    <div class="col-md-offset-2 col-md-4">
   		<button type="submit" class="form-control btn btn-info btn-lg">
 			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Consultar
		</button>
	</div>
  </div>

	  

</form>

<div class="row">
	<div class="col-md-offset-1 col-md-10">	
	<table class="table table-striped" >
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Calorias</th>
				<th>Dificultad</th>
				<th>Temporada</th>
			</tr>
		</thead>
		{{#recetas}}
			<tr>
				<td>{{Nombre}}</td>
				<td>{{CantCaloriasTotales}}</td>
				<td>{{Dificultad}}</td>
				<td>{{Temporada}}</td>
			</tr>
		{{/recetas}}		
	</table>
	</div>
</div>

</div>

{{/partial}}
				
{{> layout.hbs }}