{{# partial "titulo" }}	
	<title>Recetas - QueComemos.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/recetas" >
  <div class="row">
	  <div class="col-md-2">
	  
		<div class="input-group">
	  	  <label for="nombre">Nombre</label>
		  <input type="text" class="form-control" name="nombre">
		</div>
		
		<label>Rango de Calorias</label>
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Mínimo" name="cantMinCalorias">
		  <input type="text" class="form-control" placeholder="Máximo" name="cantMaxCalorias">
		</div>
		
		
		<div class="form-group">
        <label class="dificultad">Dificultad</label>
        	<div class="col-xs-10 selectContainer">
            	<select class="form-control" name="dificultad">
            	    <option value=""></option>
                	<option value="ALTA">ALTA</option>
                	<option value="MEDIA">MEDIA</option>
                	<option value="BAJA">BAJA</option>
            	</select>
        	</div>
    	</div>
		
		
		
	  </div>
		
		<div class="col-md-10">
		  <input type="submit" class="form-control btn btn-default">
		</div>
		
  </div>
</form>

<div class="row">
	<div class="col-md-12">	
	<table class="table table-striped" >
			<td>Nombre</td>
			<td>Calorias</td>
			<td>Dificultad</td>
		</hr>
	{{#recetas}}
		<tr>
			<td>{{Nombre}}</td>
			<td>{{CantCaloriasTotales}}</td>
			<td>{{Dificultad}}</td>
		</tr>
	{{/recetas}}				
	</table>
	</div>
</div>


{{/partial}}
				
{{> layout.hbs }}